.aboutUs{
    margin-top: 50px !important;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.about-heading{
    font-family: Verdana sans-serif;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 4px solid var(--color-dark-blue);
    width: 410px;
    margin: 10px 70px 20px 70px;
}
.about-subheading, .our-story{
    font-family: Verdana sans-serif;
    font-size: 20px;
    margin: 20px 70px 20px 70px;
    line-height: 30px;
}
.about-mid{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 30px 70px 20px 70px;
    justify-content: center;
    vertical-align: middle;
}
.about-mission{
    font-family: Verdana sans-serif;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 4px solid var(--color-dark-blue);
    width: 350px;
}
.mission{
    font-family: Verdana sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.about-end ul{
    display: flex;
    flex-direction: row;
    margin: 10px 70px 20px 70px;
}
.about-end li{
    padding: 25px;
}
.about-icon{
    font-size: 70px;
    color: var(--color-dark-blue);
}
.about-sub{
    font-family: Verdana sans-serif;
    font-size: 32px;
    font-weight: 550;
    padding: 5px;
    border-bottom: 3px solid var(--color-dark-blue);
    width: 100px;
}
.des{
    font-family: Verdana sans-serif;
    font-size: 20px;
    padding: 5px;
}
.signingOff{
    font-family: Verdana sans-serif;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin: 20px 170px 20px 170px;
}