main{
    padding: 0;
    margin-top: 50px !important;
}
.searchEntry{
    display: flex;
    flex-direction: column;
}
.websiteTitle{
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    padding: var(--small-padding) var(--small-padding) var(--xlarge-padding) var(--small-padding);
}

.searchForm{
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: row;
    padding: var(--xlarge-padding) var(--mid-padding) var(--xlarge-padding) var(--mid-padding);
    justify-content: center;
    align-items: center;
}
.searchBar{
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding);
    border-radius: 25px;
    border: 1px solid var(--color-black);
    width: 1000px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchIcon{
    font-size: 25px;
    padding: 8px 10px 5px 10px;
    color: lightslategray;
}
.search-icon, .clear-icon{
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    color: lightslategray;
}

.searchBar:focus{
    border: 2px solid grey;
}
.searchBar input::-webkit-input-placeholder{
    color: grey;
}
.searchBar input:focus::-webkit-input-placeholder{
    opacity: 0;
}
.searchBar:hover, .searchBar:focus-within{
    box-shadow: 0 2px 5px 2px white;
}
.search{
    font-size: var(--search-font-size);
    width: 100%;
    border: 0;
    background: white;
    outline: none;
}

.clearIcon{
    color: red;
    font-size: 23px;
    vertical-align: middle;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.clearIcon:hover{
    color: lightsalmon;
}


.searchBtn{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-size: var(--search-font-size);
    padding: 15px 25px 15px 25px;
    margin-left: 20px;
    border-radius: 45px;
    border: 0;
    cursor: pointer;
}


.suggestion{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 291px;
    left: 172px;
    border: 1px solid gray;
    background: var(--color-white);
    width: 960px;
}
.suggestion:empty{
    border: none;
}
.suggestion-list{
    cursor: pointer;
    text-align: start;
    margin: 2px 30px 2px 30px;
    font-size: 18px;

}
