.gridLayout, .listLayout{
    display: flex;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 0 5px 0 5px;
    justify-content: center;
    vertical-align: middle;
    border-radius: 5px;
    background: var(--color-dark-blue);
    cursor: pointer;
    padding: 8px;
    color: var(--color-white);
    font-weight: bold;
}
.result2{
    display: flex;
    flex-direction: row;
}
.searchResults2{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}
.resultItem2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.venueImage2 img{
    display: flex;
    min-width: 100px;
    width: 100%;
    border-radius: 5px;
    /*margin-right: 15px;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.venueDetail2{
    position: relative;
    display: flex;
    flex-direction: column;
}
.venueAddress2, .venueName2, .accessibilityFeature2{
    padding: 5px 0 5px 0;
}
.venueName2{
    font-size: 24px;
    color: var(--color-black);
    margin: 2px 0 2px 0;
    font-weight: bold;
}
.venueAddress2, .venueCategory2 span{
    font-size: 16px;
    margin: 2px 0 2px 0;
}
/*.venueCategory2 span{*/
/*    font-size: 16px;*/
/*    margin-bottom: 2px;*/
    /*background: var(--coloe-bright-blue);*/
    /*padding: 2px 10px 2px 10px;*/
    /*border-radius: 15px;*/
/*}*/
.accessibilityFeature2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 5px;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.accessibilityIcon2{
    background-color: var(--coloe-bright-blue);
    border-radius: 45px;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    margin-right: 10px;
}
.accessibilityText2{
    display: block;
}

.readMore2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.readMoreBtn2{
    display: flex;
    /*justify-items: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*vertical-align: middle;*/
    background-color: var(--color-yellow);
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    border: 0;
    color: var(--color-black);
    font-size: var(--body-font-size);
    object-fit: contain;
    /*position: absolute;*/
    /*bottom: 10%;*/
    /*transform: translateX(50%);*/
    /*margin: 10px 0 10px 0;*/
}
.loadMore2{
    display: flex;
    justify-content: center;
}
.loadMoreBtn2{
    display: flex;
    justify-content: center;
    background-color: var(--color-dark-blue);
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    border: 0;
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
}
.res{
    display: flex;
    flex-direction: column;
}